"""<br>
@Author:Vijay Kumar M N<br>
@Date: 2024-08-23<br>
@Last Modified by: Vijay Kumar M N<br>
@Last Modified: 2024-08-23<br>
@Title : python programs for Pandas Library.<br>
"""

In [1]:
import numpy as np
import pandas as pd

1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [29]:
def create_display(array):
    """
    Description:
    This will create and display a one-dimensinoal array like object using pandas
    
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.
    
    returns:
    series """
    
    one_dimension=pd.Series(array)
    return one_dimension

def main():
   array=np.arange(5)
   result=create_display(array)
   
   print(result)

if __name__=="__main__":
    main()

0    0
1    1
2    2
3    3
4    4
dtype: int32

2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [3]:
def convert_list(array):
    """
    Description:
    This function will convert the series to python list
    parameters:
    array :series The data is consisitng of series data strcture.
    returns:
    None """
    new_list=list(array)
    return  new_list

def main():
    array=pd.Series([1,2,3,4,5,6])
    print(f"The  original series data is :\n {array}")
    result=convert_list(array)
    print(f"The Python list form : {result} and datatype is {type(result)}")

if __name__=="__main__":
    main()

The  original series data is :
 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
The Python list form : [1, 2, 3, 4, 5, 6] and datatype is <class 'list'>

3. Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [4]:

def operations(data1, data2):
    """
    Description:
    This function performs basic mathematical operations like addition, subtraction, multiplication, and division.
    
    Parameters:
    data1: Series consisting of elements.
    data2: Series consisting of elements.
    
    Returns:
    tuple: A tuple containing the results of addition, subtraction, multiplication, and division.
    """
    addition = data1.add(data2)
    subtraction = data1.sub(data2)
    multiplication = data1.mul(data2)
    division = data1.div(data2)
    return addition, subtraction, multiplication, division

def main():
    data1 = pd.Series([2, 4, 6, 8, 10])
    data2 = pd.Series([1, 3, 5, 7, 9])
    addition, subtraction, multiplication, division = operations(data1, data2)

    print(f"The addition of two pandas series:\n{addition}")
    print(f"The subtraction of two pandas series:\n{subtraction}")
    print(f"The multiplication of two pandas series:\n{multiplication}")
    print(f"The division of two pandas series:\n{division}")

if __name__ == "__main__":
    main()

The addition of two pandas series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
The subtraction of two pandas series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
The multiplication of two pandas series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
The division of two pandas series:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Python program to get the powers of an array values element-wise.
Note: First array elements raised to powers from second array

In [5]:
def powers(array):
    """
    Description:
    This function will cube all the elements in the series
    parameters:
    array:series its consisting the elements
    returns:
    series """
    series=pd.Series([pow(x,3) for x in array])
    return series

def main():
    array=pd.Series([0,1,2,3,4,5,6])
    print(f"The original series :\n {array}")
    result=powers(array)
    print(f"The new series :\n{result}")

if __name__=="__main__":
    main()

The original series :
 0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64
The new series :
0      0
1      1
2      8
3     27
4     64
5    125
6    216
dtype: int64

5. Write a Python program to create and display a DataFrame from a specified dictionary
data which has the index labels.

In [6]:
def create_dataframe(exam_data):
    """
    Description:
    This will create a dataframe and display the dataframe
    
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.
    
    Returns:
    DataFrame
    """
  
    
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    return df

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    
    result=create_dataframe(exam_data)
    print(result)

if __name__=="__main__":
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

6. Write a Python program to display a summary of the basic information about a
specified Data Frame and its data.
Sample Python dictionary data and list labels:

In [7]:
def create_dataframe(exam_data):
    """
    Description:
    This will create a dataframe and display the dataframe and display about information and describe.
    
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.
    
    Returns:
    About dataframe information and  describe.

    """
    
    
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    return df.info(),df.describe()

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    info,describe=create_dataframe(exam_data)
    print(info,describe)

if __name__=="__main__":
    main()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None            score   attempts
count   8.000000  10.000000
mean   13.562500   1.900000
std     4.693746   0.875595
min     8.000000   1.000000
25%     9.000000   1.000000
50%    13.500000   2.000000
75%    17.125000   2.750000
max    20.000000   3.000000

7. Write a Python program to get the first 3 rows of a given DataFrame.
Sample Python dictionary data and list labels:

In [8]:
def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the first three dataframes
    
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.    
    
    Returns:
    DataFrame first Three rows
    """
    
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    return df.head(3)

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    
    result=display_rows(exam_data)
    print(result)

if __name__=="__main__":
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

8. Write a Python program to select the 'name' and 'score' columns from the following
DataFrame.

In [9]:
def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the only specific colums from the dataframes
    
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.
    
    Returns:
    DataFrame dolumns """
    
    
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    return df[['name','score']]

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    result=display_rows(exam_data)
    print(result)

if __name__=="__main__":
    main()

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

9.Write a Python program to select the specified columns and rows from a given data
frame.
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.

In [10]:
def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the only specific colums from the dataframes
    
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.
    
    Returns:
    DataFrane where specified index with particular columns"""

    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    
    df=pd.DataFrame(exam_data)
    #print(df[['name','score']])
    return df.loc[[1,3,5,6],['name','score']]

def main():
    
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    
    result=display_rows(exam_data)
    print(result)

if __name__=="__main__":
    main()

      name  score
1     Dima    9.0
3    James    NaN
5  Michael   20.0
6  Matthew   14.5

10. Write a Python program to select the rows where the number of attempts in the
examination is greater than 2

In [11]:
def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the all the dataframes whose have attemted the exam more than 2.
    
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.    
   
    Returns:
    DataFrame where attempts of the students more than 2
    """

    
    df=pd.DataFrame(exam_data)
    #print(df[['name','score']])
    return df.loc[df['attempts']>2]

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    
    result=display_rows(exam_data)
    print(result)

if __name__=="__main__":
    main()

      name  score  attempts qualify
1     Dima    9.0         3      no
3    James    NaN         3      no
5  Michael   20.0         3     yes

11. Write a Python program to count the number of rows and columns of a DataFrame.
Sample data:

In [12]:
def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the number of rows and columns from the dataframes
    
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.
    
    Returns:
    shape of the dataframe with number of columns and rows."""

    
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    return df.shape[0],df.shape[1]

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    column,row=display_rows(exam_data)
    print(f"The number columns:  {row}")
    print(f"The number rows:  {column}")

if __name__=="__main__":
    main()

The number columns:  4
The number rows:  10

11.Write a Python program to select the rows where the score is missing, i.e. is NaN

In [13]:
def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the null values in the score column dataframes
   
    parameters:
     exam_data: dict This is the data that we want to display in the dataframe.
   
    Returns:
    Dataframe where the score is null"""
    
    
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    #null_mask = df.isnull().any(axis=1)
    #null_rows = df[null_mask]   
    #print(null_rows)
    return df.loc[df['score'].isnull()]

def main():

    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    result=display_rows(exam_data)
    print(result)
if __name__=="__main__":
    main()

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

13. Write a Python program to select the rows where number of attempts in the
examination is less than 2 and score greater than 15.

In [14]:
def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the name who score is greater than 15 and attempts less than 2 column dataframes
   
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.
    
    Returns:
    DataFrame : This will return the dataframe with the name who score is greater than 15 and attempts less than
    """
    
    
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
   
    return df[(df.score>15) & (df.attempts<2)]

def main():

    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    result=display_rows(exam_data)
    print(result)

if __name__=="__main__":
    main()

    name  score  attempts qualify
j  Jonas   19.0         1     yes

14. Write a Python program to change the score in row 'd' to 11.5.

In [15]:
def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the row d the score value to 11.5 in the dataframes
    
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.
    Returns:
    DataFrame:change the score value to 11.5 in the dataframe.

    """
   
    
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
   
    df.at['d','score']=11.5
    return df

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    result=display_rows(exam_data)
    print(result)

if __name__=="__main__":
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

15. Write a Python program to calculate the sum of the examination attempts by the
students.

In [16]:
def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the sum of examination is attemts by the student in the dataframe.
    
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.

    Returns:
    sum:int"""
    
    
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
   
    sum=df['attempts'].sum()
    return sum
    
def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    sum=display_rows(exam_data)
    print(f"the sum of the examination attempts by the students is: {sum}")
if __name__=="__main__":
    main()

the sum of the examination attempts by the students is: 19

16. Write a Python program to calculate the mean score for each different student in
DataFrame

In [17]:
def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the mean of each student.
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.

    Returns:
    mean"""
    
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    df.groupby('name')
    mean=df['score'].mean()
    return mean

    
def main():

    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    
    mean=display_rows(exam_data)
    print(f"The mean of each student is  {mean}")

if __name__=="__main__":
    main()

The mean of each student is  13.5625

17. Write a Python program to append a new row 'k' to data frame with given values for
each column. Now delete the new row and return the original DataFrame.

In [18]:

def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display and add a new row to the dataframe and delete that new row
    parameters:
    None
    Returns:
    None"""
   
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    df.loc['K',:] = ['suresh',15.5,1,'yes']
    print(f"The add the new row to the dataframe :\n {df}") 
    df.drop(['K'],inplace=True)
    print(f"After deleting the row :\n {df}")

    
def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    
    display_rows(exam_data)

if __name__=="__main__":
    main()

The add the new row to the dataframe :
         name  score  attempts qualify
a  Anastasia   12.5       1.0     yes
b       Dima    9.0       3.0      no
c  Katherine   16.5       2.0     yes
d      James    NaN       3.0      no
e      Emily    9.0       2.0      no
f    Michael   20.0       3.0     yes
g    Matthew   14.5       1.0     yes
h      Laura    NaN       1.0      no
i      Kevin    8.0       2.0      no
j      Jonas   19.0       1.0     yes
K     suresh   15.5       1.0     yes
After deleting the row :
         name  score  attempts qualify
a  Anastasia   12.5       1.0     yes
b       Dima    9.0       3.0      no
c  Katherine   16.5       2.0     yes
d      James    NaN       3.0      no
e      Emily    9.0       2.0      no
f    Michael   20.0       3.0     yes
g    Matthew   14.5       1.0     yes
h      Laura    NaN       1.0      no
i      Kevin    8.0       2.0      no
j      Jonas   19.0       1.0     yes

18. Write a Python program to sort the DataFrame first by 'name' in descending order,
then by 'score' in ascending order.

In [19]:

def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the names is descending order and score in ascending order
    
    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.

    Returns:
    sorted: The new Dataframe which after sorting
    """
   
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    sorted=df.sort_values(by=['name','score'],ascending=[False,True])
    return sorted

    
def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

    sorted=display_rows(exam_data)
    print(sorted)
    
if __name__=="__main__":
    main()

        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

19. Write a Python program to replace the 'qualify' column contains the values 'yes' and
'no' with True and False

In [20]:

def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the qualify column values yes to true and  no to false.

    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.

    Returns:
    dataframe: """
    
    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    df.loc[df['qualify']=='yes','qualify']=True
    df.loc[df['qualify']=='no','qualify']=False
    return df
    
    
def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

    df=display_rows(exam_data)
    print(df)
if __name__=="__main__":
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1    True
b       Dima    9.0         3   False
c  Katherine   16.5         2    True
d      James    NaN         3   False
e      Emily    9.0         2   False
f    Michael   20.0         3    True
g    Matthew   14.5         1    True
h      Laura    NaN         1   False
i      Kevin    8.0         2   False
j      Jonas   19.0         1    True

20. Write a Python program to delete the 'attempts' column from the DataFrame

In [21]:

def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and delete the attempts column in the dataframe.

    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.

    Returns:
    news: new dataframe after deleting the column qualify"""
   

    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    news=df.drop(['qualify'],axis=1)
    return news
    
    
    
def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    result=display_rows(exam_data)
    print(result)
    
if __name__=="__main__":
    main()

        name  score  attempts
a  Anastasia   12.5         1
b       Dima    9.0         3
c  Katherine   16.5         2
d      James    NaN         3
e      Emily    9.0         2
f    Michael   20.0         3
g    Matthew   14.5         1
h      Laura    NaN         1
i      Kevin    8.0         2
j      Jonas   19.0         1

21. Write a Python program to insert a new column in existing DataFrame

In [22]:

def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and adding a new column in the dataframe.

    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.

    Returns:
    None"""
  

    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    print(f"Before adding new column: \n {df}")
    df.loc[:,'result']=[1,2,3,4,5,6,7,8,9,10]
    print(f"After adding the new columns :\n {df}")
    
    
    
def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    display_rows(exam_data)
if __name__=="__main__":
    main()

Before adding new column:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
After adding the new columns :
         name  score  attempts qualify  result
a  Anastasia   12.5         1     yes       1
b       Dima    9.0         3      no       2
c  Katherine   16.5         2     yes       3
d      James    NaN         3      no       4
e      Emily    9.0         2      no       5
f    Michael   20.0         3     yes       6
g    Matthew   14.5         1     yes       7
h      Laura    NaN         1      no       8
i      Kevin    8.0         2      no       9
j      Jonas   19.0         1     yes      10

22. Write a Python program to iterate over rows in a DataFrame

In [23]:

def display_rows(exam_data):
    """
    Description:
    This will create a dataframe iterate over a dataframe.

    parameters:
    exam_data: dict This is the data that we want to display in the dataframe.

    Returns:
    dataframe"""
 

    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
    return df    
    
def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    result=display_rows(exam_data)
    for index,row in result.iterrows():
        print(f"index :{index} , values:{row.to_dict()}")
        
if __name__=="__main__":
    main()

index :a , values:{'name': 'Anastasia', 'score': 12.5, 'attempts': 1, 'qualify': 'yes'}
index :b , values:{'name': 'Dima', 'score': 9.0, 'attempts': 3, 'qualify': 'no'}
index :c , values:{'name': 'Katherine', 'score': 16.5, 'attempts': 2, 'qualify': 'yes'}
index :d , values:{'name': 'James', 'score': nan, 'attempts': 3, 'qualify': 'no'}
index :e , values:{'name': 'Emily', 'score': 9.0, 'attempts': 2, 'qualify': 'no'}
index :f , values:{'name': 'Michael', 'score': 20.0, 'attempts': 3, 'qualify': 'yes'}
index :g , values:{'name': 'Matthew', 'score': 14.5, 'attempts': 1, 'qualify': 'yes'}
index :h , values:{'name': 'Laura', 'score': nan, 'attempts': 1, 'qualify': 'no'}
index :i , values:{'name': 'Kevin', 'score': 8.0, 'attempts': 2, 'qualify': 'no'}
index :j , values:{'name': 'Jonas', 'score': 19.0, 'attempts': 1, 'qualify': 'yes'}

23. Write a Python program to get list from DataFrame column headers.

In [24]:

def display_rows(exam_data):
    """
    Description:
    This will create a dataframe and display the names of the columns.

    parameters:
    None
    Returns:
    list: names of the columns"""
    

    df=pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])

    
    return df.columns.tolist()
    
    
def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    result=display_rows(exam_data)
    print(result)
if __name__=="__main__":
    main()

['name', 'score', 'attempts', 'qualify']